*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background-color: gray;
    position: relative;
}

header{
    height: 60px;
    position: relative;
    background-color: black;
    z-index: 1000;
    top: 0;
    width: 100%;
    color:white;
    text-align: center;
}
header h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sign-in-btn{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0%, -50%);

}
#test{
    background-color: green;
}

#playlist-operations{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}




