/* GENERAL SETTINGS*/
@font-face {
    font-family: 'Inter';
    src: url('Inter/static/Inter-Light.ttf');
}

* {
    box-sizing: border-box;
    font-family: 'Inter';
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
    scroll-behavior: smooth;
    max-width: 100%;
    color: black;
    min-height: 100vh;
    height: 100%;
}

body {
    min-height: 100vh;
    height: 100vh;
    width: 100%;
}

label {
    display: block;
    text-align: center;
}

#root {
    position: absolute;
    height: 100%;
    width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header header"
        "sidebar body";
}


/* HEADER */
header {
    grid-area: header;
    position: relative;
    height: 60px;
    text-align: center;
    background: hsl(0 0% 98%);
    /* border-bottom: 1px;
    border-style: hidden hidden solid hidden;
    border-color: hsl(0,0%,20%);*/
    box-shadow: 0px 0px 5px hsl(0, 0%, 10%);
    z-index: 2;
}

header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    color: hsl(0, 0%, 10%);
}


#home-link {
    text-decoration: none;
}

#sign-IO-btn {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    border-width: 1px;
    border-radius: 5%;
    padding: 5px;
    height: 30px;
    width: 80px;
    color: white;
    background: hsl(0 0% 10%);
}



#header-line {
    position: absolute;
    border: none;
    height: 1px;
    bottom: 0%;
    width: 100%;

}


/* SIDEBAR */
#sidebar {
    grid-area: sidebar;
    position: relative;
    background: hsl(0 0% 90%);
    /*box-shadow: 0px 0px 5px hsl(0, 0%, 10%);*/
    z-index: 1;
}



/*NAVIGATION*/
#main-nav {
    position: relative;
    margin: 10%;
    width: 80%;
    height: 80%;
    background: hsl(0 0% 84%);
}

#main-nav ul {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
}

#main-nav li {
    position: relative;
    height: 20%;
    max-height: 250px;
    border-bottom: solid 1px black;
}

#main-nav li:active {
    border-style: solid;
    border-width: 2px;
}

#main-nav li:hover {
    background-color: lightgray;
}

#main-nav a {
    position: absolute;
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: larger;
    color: hsl(0 0% 0%);
}


/*MAIN BODY*/
#main-page {
    grid-area: body;
    position: relative;
    padding-top: 1%;
    background: hsl(0 0% 90%);
}



.playlist-si {
    position: relative;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px;
    border-color: rgba(219, 214, 214, 0.76);
    border-style: solid;
    border-width: 2px;
    text-align: center;
    border-radius: 50px;
    font-size: 2em;
}

.playlist-info {
    position: relative;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    border-radius: 50px;

}

/*Playlist Creator*/
.playlist-operations {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: .5fr 4fr .5fr 4fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "selector result-info"
        "search-results search-results"
        "playlist-btn queue-info"
        "queue queue";
    place-items: center;
}

.results-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#selected-results {
    grid-area: queue;
    border-top: 10px;
}

#search-results {
    grid-area: search-results;
}


.results-list {
    position: relative;
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    color: black;
}

.arrow {
    position: absolute;
    top: 10%;
    height: 60%;
    width: 6%;
    background-color: hsla(0, 0%, 84%, .3);
    z-index: 1;
    border: none;
}

.arrow:hover {
    background-color: hsla(0, 0%, 84%, .6);
}

#left-arrow {
    left: 0;
}

.arrow::before {
    position: relative;
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 7px solid black;
    border-left: hidden;
    border-bottom: hidden;
}

#left-arrow::before {
    transform: rotate(-135deg);
    margin-left: 40%;
}


#right-arrow {
    right: 0;
}

#right-arrow::before {
    transform: rotate(45deg);
    margin-right: 50%;
}

.playlist-btn {
    position: absolute;
    grid-area: playlist-btn;
    border-radius: 5%;
    font-size: 16px;
    font-weight: bold;
    background: hsl(0 0% 10%);
    color: hsl(0 0% 98%);
    height: 90%;
    width: 20%;
    left: 5%;
    border-style: none;
    font-weight: 100;
}

.list-loader {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid black;
    border-top: 4px solid white;
    animation: load 2s linear infinite;
}

@keyframes load {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}



.selector {
    grid-area: selector;
    position: absolute;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
    width: 60%;
    align-items: center;
}

.searchbar-container {
    position: relative;
    border-style: none;
    height: 80%;
    width: 50%;
    border-radius: 50px;
    border-width: 1px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background: hsl(0 0% 80%);
}


.searchbar {
    position: relative;
    border-radius: 50px;
    font-size: 1em;
    border-style: none;
    background: transparent;
    left: 0;
    width: 100%;
}

.searchbar:focus {
    outline: none;
}

.magnifying-glass {
    position: relative;
    rotate: -45deg;
    left: 10%;
    top: 10%;
}

.mg-circle {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    left: 50%;
    transform: translateX(-50%);
}

.mg-handle {
    position: relative;
    width: 2px;
    height: 12px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);

}

#result-info {
    grid-area: result-info;
    position: absolute;
    right: 10%;
    color: blue;
    font-size: large;

}

#queue-info {
    grid-area: queue-info;
    position: absolute;
    right: 10%;
    color: blue;
    font-size: large;
}

/*Search & Selection cards*/
.card {
    position: relative;
    flex: 0 0 20%;
    padding: .5rem;
}

.card img,
.img-filler {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1 / 1;
    width: auto;
    border-radius: 1%;
}


.card-name {
    text-align: center;
}

.card-options {
    position: relative;
    text-align: center;
    width: 100%;
}

#remove-btn {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 2%;
    right: 2%;
    border: none;
    background-color: transparent;
}

#remove-btn::after {
    content: "\d7";
    color: gray;
    font-size: 30px;
}

#remove-btn:hover:after {
    color: red;
}