doctype html
html(lang='en') 
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      a(href='/login') Sign In
      a(href='/liked_songs') Liked Songs
    block content
